{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chính - Quản Lý Bệnh Viện</title>
    <link rel="stylesheet" type="text/css" href="{% static 'healthcareStaff/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'healthcareStaff/css/testResult.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        nav .patient_infor {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <header>
        <h1>Hệ Thống Quản Lý Bệnh Viện</h1>

        <nav>
            <ul>
                <li class="home"><a href="{% url 'healthcareStaff__Homepage' %}">Trang Chính</a></li>
                <li class="personal_infor"><a href="{% url 'healthcareStaff__Infor' %}">Thông tin cá nhân</a></li>
                <li class="patient_infor"><a href="{% url 'healthcareStaff__Patient' %}" class="white-text">Bệnh nhân phụ trách</a>
                    
                    <ul class="subnav">
                        <li><a href="{% url 'healthcareStaff__Patient_Infor' %}">Thông tin bệnh nhân</a></li>
                        <li><a href="{% url 'healthcareStaff__Patient_MedicalHistory' %}">Lịch sử bệnh án</a></li>
                        <li><a href="#">Kết quả xét nghiệm tổng quát</a></li>
                        <li><a href="{% url 'healthcareStaff__Patient_Schedule' %}">Lịch trình khám bệnh</a></li>
                    </ul>

                </li>
                <li class="storage"><a href="{% url 'healthcareStaff__Storage' %}">Kho dụng cụ</a></li>
                <!-- Thêm các liên kết khác nếu cần -->
            </ul>
        </nav>
    </header>

    
    <div class="box">
        <h2>Kết quả xét nghiệm tổng quát</h2>
        
        <div class="box_container flex-2">
            <ul>
                <li>
                    <p>Yêu cầu xét nghiệm
                        <br>
                        Tổng phân tích tế bào máu ngoại vi (bằng máy đếm laser)
                    </p>
                </li>
                <li>
                    RBC (Số lượng hồng cầu)
                </li>
                <li>
                    HGB (Hemoglobin)
                </li>
                <li>
                    HCT (Hematocrit)
                </li>
                <li>
                    MCV (Thể tích trung bình HC)
                </li>
                <li>
                    MCH (Lượng HGB trung bình HC)
                </li>
                <li>
                    MCHC (Nồng độ HGB trung bình HC)
                </li>
                <li>
                    RDW-CV (Phân bố kích thước HC)
                </li>
                <li>
                    NRBC# (Số lượng HC có nhân)
                </li>
                <li>
                    NRBC% (Tỷ lệ % HC có nhân)
                </li>
                <li>
                    PLT (Sô lượng tiểu cầu)
                </li>
                <li>
                    MPV (Thể tích trung bình TC)
                </li>
                <li>
                    WBC (SỐ lượng bạch cầu)
                </li>
                <li>
                    NEUT% (Tỷ lệ % BC trung tính)
                </li>
                <li>
                    EO% (Tỷ lệ % BC ưa axit)
                </li>
                <li>
                    BASO% (Tỷ lệ % BC ưa bazơ)
                </li>
                <li>
                    MONO% (Tỷ lệ % BC mono)
                </li>
                <li>
                    LYM% (Tỷ lệ % BC lympho)
                </li>
                <li>
                    NEUT# (Số lượng BC trung tính)
                </li>
                <li>
                    EO# (Số lượng BC ưa axit)
                </li>
                <li>
                    BASO# (Số lượng BC ưa bazơ)
                </li>
                <li>
                    MONO# (Số lượng BC mono)
                </li>
                <li>
                    LYM# (Số lượng BC lympho)
                </li>
                <li>
                    LUC# (Số lượng BC lớn không bắt màu)
                </li>
                <li>
                    LUC% (Tỷ lệ BC lớn không bắt màu)
                </li>
                <li>
                    Tế bào bất thường
                </li>
                <li>
                    Tế bào kích thích
                </li>
            </ul>
        </div>
        
        <div class="box_container flex-1">
            <ul>
                <li>
                    Kết quả
                    <br>
                    <br>    
                </li>
                <li>
                    6.54
                </li>
                <li>
                    129
                </li>
                <li>
                    0.443
                </li>
                <li>
                    67.8
                </li>
                <li>
                    19.8
                </li>
                <li>
                    292
                </li>
                <li>
                    15.4
                </li>
                <li>
                    0
                </li>
                <li>
                    0
                </li>
                <li>
                    280
                </li>
                <li>
                    5.7
                </li>
                <li>
                    5.32
                </li>
                <li>
                    51.8
                </li>
                <li>
                    2.4
                </li>
                <li>
                    1.2
                </li>
                <li>
                    6.2
                </li>
                <li>
                    36.0
                </li>
                <li>
                    2.75
                </li>
                <li>
                    0.13
                </li>
                <li>
                    0.07
                </li>
                <li>
                    0.33
                </li>
                <li>
                    1.91
                </li>
                <li>
                    0.13
                </li>
                <li>
                    2.4
                </li>
                <li>
                    <br>
                </li>
                <li>
                    <br>
                </li>
            </ul>
        </div>

        <div class="box_container flex-1">
            <ul>
                <li>
                    Trị số bình thường
                    <br><br>
                </li>
                <li>
                    4.5 - 5.9
                </li>
                <li>
                    135 - 175
                </li>
                <li>
                    0.41 - 0.53
                </li>
                <li>
                    80 - 100
                </li>
                <li>
                    26 - 34
                </li>
                <li>
                    315 - 363
                </li>
                <li>
                    10 - 15
                </li>
                <li>
                    <br>
                </li>
                <li>
                    <br>
                </li>
                <li>
                    150 - 400
                </li>
                <li>
                    5 - 20
                </li>
                <li>
                    4.0 - 10.0
                </li>
                <li>
                    45 - 75
                </li>
                <li>
                    0 - 8
                </li>
                <li>
                    0 - 1
                </li>
                <li>
                    0 - 8
                </li>
                <li>
                    25 - 45
                </li>
                <li>
                    1.8 - 7.5
                </li>
                <li>
                    0 - 0.8
                </li>
                <li>
                    0 - 0.1
                </li>
                <li>
                    0 - 0.8
                </li>
                <li>
                    1.0 - 4.5
                </li>
                <li>
                    <br>
                </li>
                <li>
                    0 - 4
                </li>
                <li>
                    <br>
                </li>
                <li>
                    <br>
                </li>
            </ul>
        </div>

        <div class="box_container flex-1">
            <ul>
                <li>
                    Đơn vị
                    <br>
                    <br>
                </li>
                <li>
                    T/L
                </li>
                <li>
                    g/L
                </li>
                <li>
                    L/L
                </li>
                <li>
                    fL
                </li>
                <li>
                    pg
                </li>
                <li>
                    g/L
                </li>
                <li>
                    %
                </li>
                <li>
                    G/L
                </li>
                <li>
                    %
                </li>
                <li>
                    G/L
                </li>
                <li>
                    fL
                </li>
                <li>
                    G/L
                </li>
                <li>
                    %
                </li>
                <li>
                    %
                </li>
                <li>
                    %
                </li>
                <li>
                    %
                </li>
                <li>
                    %
                </li>
                <li>
                    G/L
                </li>
                <li>
                    G/L
                </li>
                <li>
                    G/L
                </li>
                <li>
                    G/L
                </li>
                <li>
                   #
                </li>
                <li>
                    %
                </li>
                <li>
                    %
                </li>
                <li>
                    %
                </li>
                <li>
                    %
                </li>
            </ul>
        </div>
        
        <div class="box_container flex-1">
            <ul>
                <li>
                    Máy XN
                    <br>
                    <br>
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                   7
                </li>
                <li>
                   7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    7
                </li>
                <li>
                    <br>
                </li>
                <li>
                    <br>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Hệ Thống Quản Lý Bệnh Viện</p>
    </footer>
</body>

<script src="../assets/js/healcareStaff.js"></script>

<script src="assets/js/healcareStaff.js"></script>
</html>