{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chính - Quản Lý Bệnh Viện</title>
    <link rel="stylesheet" type="text/css" href="{% static 'healthcareStaff/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'healthcareStaff/css/patient.css' %}">
    <style>
        nav .patient_infor {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <header>
        <h1>Hệ Thống Quản Lý Bệnh Viện</h1>

        <nav>
            <ul>
                <li class="home"><a href="{% url 'healthcareStaff__Homepage' %}">Trang Chính</a></li>
                <li class="personal_infor"><a href="{% url 'healthcareStaff__Infor' %}">Thông tin cá nhân</a></li>
                <li class="patient_infor"><a href="#" class="white-text">Bệnh nhân phụ trách</a>
                    
                    <ul class="subnav">
                        <li><a href="{% url 'healthcareStaff__Patient_Infor' %}">Thông tin bệnh nhân</a></li>
                        <li><a href="{% url 'healthcareStaff__Patient_MedicalHistory' %}">Lịch sử bệnh án</a></li>
                        <li><a href="{% url 'healthcareStaff__Patient_TestResult' %}">Kết quả xét nghiệm tổng quát</a></li>
                        <li><a href="{% url 'healthcareStaff__Patient_Schedule' %}">Lịch trình khám bệnh</a></li>
                    </ul>

                </li>
                <li class="storage"><a href="{% url 'healthcareStaff__Storage' %}">Kho dụng cụ</a></li>
                <!-- Thêm các liên kết khác nếu cần -->
            </ul>
        </nav>
    </header>

    <div class="box">
        <div class="box__infor">
            <a href="{% url 'healthcareStaff__Patient_Infor' %}">Thông tin bệnh nhân</a>
        </div>

        <div class="box__meadicalHistory">
            <a href="">Lịch sử bệnh án</a>
        </div>

        <div class="box__testResult">
            <a href="">Kết quả xét nghiệm tổng quát</a>
        </div>

        <div class="box__testSchedule">
            <a href="">Lịch trình khám bệnh</a>
        </div>

    </div>

    <footer>
        <p>&copy; 2024 Hệ Thống Quản Lý Bệnh Viện</p>
    </footer>
</body>
</html>