<h1>Thêm thiết bị y tế</h1>

<form action="{% url 'staff_add_medical_equipment' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Tên thiết bị</label>
    <input type="text" name="equipment_name"><br><br>
    <label>Số lượng</label>
    <input type="number" name="equipment_numbers"><br><br>
    <button type="submit"> Thêm </button>


    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" or message.tags == "success" %}
                <p> {{ message }}</p>
            {% endif %}

        {% endfor %}
    {% endif %}
</form>

