<h1>This is staff homepage</h1>

<nav>
    <ul>
        <li>
            <a href="staff/manage_staff">
                <p>Manage staff</p>
            </a>
        </li>
        <li>
            <a href="staff/add_patient">
                <p>Add patient</p>
            </a>
        </li>
        <li>
            <a href="staff/manage_patient">
                <p>Manage patient</p>
            </a>
        </li>
        <li>
            <a href="staff/add_medicine">
                <p>Add medicine</p>
            </a>
        </li>
        <li>
            <a href="staff/manage_medicine">
                <p>Manage medicine</p>
            </a>
        </li>
        <li>
            <a href="staff/add_medical_equipment">
                <p>Add medical equipment</p>
            </a>
        </li>
        <li>
            <a href="staff/manage_equip">
                <p>Manage medical equipment</p>
            </a>
        </li>
        <li>
            <a href="staff/staff_calendar">
                <p>Work schedules</p>
            </a>
        </li>
        <li>
            <a href="staff/staff_feedback">
                <p>Staff feedbacks</p>
            </a>
        </li>
        <li>
            <a href="staff/patient_feedback">
                <p>Patient feedbacks</p>
            </a>
        </li>
    </ul>
</nav>