.box {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 72vh;
    border: 1px solid #000;
    margin: 40px auto;
}

.box__infor,
.box__meadicalHistory,
.box__testResult,
.box__testSchedule {
    width: 45%;
    height: 40%;
    border: 1px solid #ccc;
}