.box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
    border: 1px solid #000;
    margin: 40px auto;
}

.box__container:first-child {
    border-right: 1px solid #000;
}

.box__container h2 {
    padding: 16px;
    border-bottom: 1px solid #000;
    text-align: center;
}

.box__container ul {
    list-style-type:decimal;
    margin-left: 48px;
    padding: 16px 0;
}

.box__container .list {
    display: flex;
}

.box__container .list ul + ul {
    list-style-type: none;
}