{% extends "registration/base.html" %}

{% block content %}
{% if validlink %}
<div>
    <p>Đặt lại mật khẩu</p>
    <form method="post">
    {% csrf_token %}
    {% for field in  form %}
        <div class="form-group">
            {{ field.errors }}
            {% if field.label == 'New password' %}
                <label for="id_new_password1">Mật khẩu mới:</label>
            {% else %}
                <label for="id_new_password2">Nhập lại mật khẩu mới:</label>
            {% endif %}
            <input  type="password" name="{{ field.html_name }}" class='form-control' id="{{ field.id_for_label }}">
        </div>
    {% endfor %}
    <button class="btn btn-block btn-primary font-weight-medium" type="submit">Xác nhận</button>
    </form>

</div>
{% else %}
<div>
    <p>Đường dẫn lỗi do không hợp lệ hoặc đã hết hạn</p>

</div>
{% endif %}
{% endblock content %}