<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu | Hệ thống quản lý bệnh viện</title>
    <link rel="stylesheet" href="auth_form.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header class="header">
      <div class="title">
        <div class="title_item title_item_app-name">
          HỆ THỐNG QUẢN LÍ BỆNH VIỆN
        </div>
        <div class="title_item title_item_login-name">Đặt lại mật khẩu</div>
      </div>
    </header>
    <div class="modal">
      <div class="modal__overlay"></div>
      <div class="modal__body">
        <div class="modal__inner">
          <div class="auth-form">
            <div class="auth-form__container">
              <div class="auth-form__header">
                <h3 class="auth-form__heading">Đặt lại mật khẩu</h3>
                <a
                  href="http://127.0.0.1:5500/login.html"
                  class="auth-form__switch-btn"
                  >Trở lại</a
                >
              </div>
              <div class="auth-form__form">
                <div class="auth-form__group">
                  <input
                    type="text"
                    class="auth-form__input"
                    placeholder="Email của bạn"
                  />
                </div>
              </div>

              <div class="auth-form__controls">
                <!--
                  <button class="btn auth-form__controls-back">
                  <a href="" class="auth-form__controls-back-link"> TRỞ LẠI </a>
                  </button>
                -->
                <button class="btn btn--primary">
                  <a
                    href="http://127.0.0.1:5500/reset_password.html"
                    class="btn--primary-link"
                  >
                    TIẾP THEO</a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
