{% extends 'main.html'%}
{% block content %}

<h1>Profile của bạn</h1>
<p>Họ và tên: {{ profile.full_name }}</p>
<p>Số điện thoại: {{profile.phone_number}} </p>
<p>Quốc tịch: {{profile.nationality}} </p>
<p>Giới tính: {{ profile.gender }}</p>
<p>Địa chỉ: {{ profile.address }}</p>
<p>Căn cước công dân/chứng minh nhân dân: {{ profile.ID1}}</p>
<p>Ảnh đại diện: <img src="{{ profile.avatar }}" alt="Avatar"></p>
<p> Tiền sử bệnh lý: {{profile.medical_record}} </p>
<p>Họ và tên người giám hộ: {{ profile.name2 }}</p>
<p>Số điện thoại người giám hộ: {{ profile.phone_number2 }}</p>
<p>Địa chỉ của người giám hộ: {{ profile.address2 }}</p>
<p>CCCD/CMND của người giám hộ: {{ profile.ID2 }}</p>
<p> Quan hệ của người bệnh đối với người giám hộ: {{profile.relationship}} </p>
{% endblock %}