{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Thêm nhân viên </title>
  <!-- plugins:css -->
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendors/feather/feather.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'users/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" type="text/css" href="{% static 'users/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'users/css/admin/addmin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/users/base.css' %}">

  <!--  -->

  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
    <div class="container-scroller"> 
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <!-- <a class="navbar-brand brand-logo" href="#">
                        <img src="images/logo.svg" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="#">
                        <img src="images/logo-mini.svg" alt="logo" />
                    </a> -->
                </div>
            </div>

            <div class="navbar-menu-wrapper d-flex align-items-top"> 
                <ul class="navbar-nav">
                    <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                        <h1 class="welcome-text"> Xin chào, <span class="text-black fw-bold"> Quản lý </span></h1>
                        <h3 class="welcome-sub-text">Hệ thống quản lý bệnh viện với nhiều tính năng vượt trội</h3>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-none d-lg-block">
                        <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                            <span class="input-group-addon input-group-prepend border-right">
                                <span class="icon-calendar input-group-text calendar-icon"></span>
                            </span>
                            <input type="text" class="form-control">
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="{% static 'users/images/faces/face8.jpg' %}" alt="Profile image"> </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                <div class="dropdown-header text-center">
                                    <img class="img-md rounded-circle" src="{% static 'users/images/faces/face8.jpg' %}" alt="Profile image">
                                    <p class="mb-1 mt-3 font-weight-semibold">{{ request.user.username }}</p>
                                    <p class="fw-light text-muted mb-0">{{ request.user.email }}</p>
                                </div>
                                <a class="dropdown-item" href="{% url 'admin_profile' %}"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2" ></i> Thông tin cá nhân</a> 
                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Đăng xuất</a>
                            </div>
                        </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
            
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <!-- <div style="position: fixed; top: 97px; left: 0;"> -->
                <ul class="nav">
                    <li class="nav-item" >
                    <a class="nav-link" href="#">
                        <i class="menu-icon mdi mdi-arrow-up"></i>
                        <span class="menu-title">Lên đầu</span>
                    </a>
                    </li>        
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'admin_home' %}">
                        <i class="menu-icon mdi mdi-grid-large"></i>
                        <span class="menu-title">Trang chủ</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'add_staff' %}">
                        <i class="menu-icon mdi mdi-account-plus"></i>
                        <span class="menu-title">Thêm nhân viên</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'manage_all_staff' %}">
                        <i class="menu-icon mdi mdi-format-list-bulleted-type"></i>
                        <span class="menu-title">Danh sách nhân viên</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'add_patient' %}">
                        <i class="menu-icon mdi mdi-account-multiple-plus"></i>
                        <span class="menu-title">Thêm bệnh nhân</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'manage_all_patient' %}">
                        <i class="menu-icon mdi mdi-view-list"></i>
                        <span class="menu-title">Danh sách bệnh nhân</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'add_medicine' %}">
                        <i class="menu-icon mdi mdi-plus-box"></i>
                        <span class="menu-title">Thêm thuốc</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'manage_medicine' %}">
                        <i class="menu-icon mdi mdi-pill"></i>
                        <span class="menu-title">Quản lý thuốc</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'add_medical_equipment' %}">
                        <i class="menu-icon mdi mdi-shape-plus"></i>
                        <span class="menu-title">Thêm thiết bị y tế</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'manage_equip' %}">
                        <i class="menu-icon mdi mdi-factory"></i>
                        <span class="menu-title">Quản lý thiết bị y tế</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'work_schedules' %}">
                        <i class="menu-icon mdi mdi-calendar-multiple"></i>
                        <span class="menu-title">Lịch trình làm việc</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'staff_all_feedback' %}">
                        <i class="menu-icon mdi mdi-comment-question-outline"></i>
                        <span class="menu-title">Phản hồi từ nhân viên</span>
                    </a>
                    </li>
                    <li class="nav-item" >
                    <a class="nav-link" href="{% url 'patient_all_feedback' %}">
                        <i class="menu-icon mdi mdi-comment-alert-outline"></i>
                        <span class="menu-title">Phản hồi từ bệnh nhân</span>
                    </a>
                    </li>
                </ul>
                <!-- </div> -->
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    <h1>Thêm nhân viên y tế</h1>

                <form method="post" enctype="multipart/form-data" action="{% url 'add_staff' %}">
                    {% csrf_token %}

                    {% for field in form  %}
                        {% if field.label == "Bằng cấp"%}
                        <div class="form-group" id="form_certificates">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}          
                        </div>
                        <button type="button" id="less_more">-</button>
                        <button type="button" id="add_more">+</button>
                        {% elif field.label == "Khoa chuyên môn (giữ phím ctrl để chọn nhiều hơn một)"%}
                        <div class="form-group">
                            {{ field.errors }}
                                {{ field.label_tag }}</label>
                                <select name="specialize" required="" id="id_specialize" multiple="">
                                    {% for facility_id, name in form.fields.specialize.choices %}
                                        <option value="{{ facility_id }}" {% if facility_id in form.fields.specialize.initial %}selected {% endif %}>{{ name }}</option>
                                    {% endfor %}            
                                </select>
                        </div>
                        {% else %}
                        <div class="form-group">
                            {{field.errors}}
                            {{field.label_tag}}
                            {{field}}
                        </div>   
                        {% endif %}
                    {% endfor %}    

                    <button class="btn btn-primary" type="submit">Thêm</button>
                </form>

                {% block custom_js %}
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var formFields = document.getElementById('form_certificates');
                        var addButton = document.getElementById('add_more');
                        var subButton = document.getElementById('less_more');

                        var fieldIndex = 1;
                    
                        addButton.addEventListener('click', function() {
                            var newField = document.createElement('div');
                            newField.innerHTML = `
                                <input class="form-control" type="text" name="certificate" id="id_certificate_${fieldIndex}">
                            `;
                            formFields.appendChild(newField);
                            fieldIndex++;
                        });

                        subButton.addEventListener('click', function() {
                            var lastField = document.getElementById('id_certificate_'+ (fieldIndex-1));
                            lastField.remove();
                            fieldIndex--;
                        });

                        const email = document.getElementById('id_email'); 
                        email.addEventListener('keyup', function() {
                            var e = email.value;
                            if(e !== ''){
                                fetch('/check_email_exist', {
                                    method: "POST",
                                    headers: {
                                    "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify({email: e}),
                                })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data);
                                    if(data == "False"){
                                        var span = document.getElementById('email-exist');
                                        if(span !== null){span.remove();}
                                        email.insertAdjacentHTML('afterend', "<span id='email-exist'> Email chưa được sử dụng. </span>");
                                    }else{
                                        var span = document.getElementById('email-exist');
                                        if(span !== null){span.remove();}
                                        email.insertAdjacentHTML('afterend', "<span id='email-exist'> Email đã tồn tại! </span>");                    
                                    }
                                })
                                .catch(error => console.error('Error:', error));
                            }else{
                                var span = document.getElementById('email-exist');
                                if(span !== null){span.remove();}                
                            }

                        });

                    });
                </script>
                {% endblock custom_js %}


                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" or message.tags == "success" %}
                            <p> {{ message }}</p>
                        {% endif %}

                    {% endfor %}
                {% endif %}


                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
                    </div>
                </footer>                
            </div>

        </div>

    </div>
    
    
    


    <!-- plugins:js -->
    <script src="{% static 'users/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->

    <!-- Plugin js for this page -->
    <script src="{% static 'users/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'users/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'users/vendors/progressbar.js/progressbar.min.js' %}"></script>

    <!-- End plugin js for this page -->

    <!-- inject:js -->
    <script src="{% static 'users/js/off-canvas.js' %}"></script>
    <script src="{% static 'users/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'users/js/template.js' %}"></script>
    <script src="{% static 'users/js/settings.js' %}"></script>
    <!-- endinject -->

    <!-- Custom js for this page-->
    <script src="{% static 'users/js/dashboard.js' %}"></script>
    <script src="{% static 'users/js/admin/admin.js' %}"></script>
    <!-- End custom js for this page-->
</body>
</html>






