<h1> Nhân viên y tế | {{staff.admin.last_name }} {{ staff.admin.first_name }} </h1>



<form method="post" enctype="multipart/form-data" action="{% url 'edit_staff' staff_id=staff.admin.id %}">
    {% csrf_token %}
    {% for field in form  %}
        {% if field.label == "Bằng cấp"%}
        <div class="form-group" id="form_certificates">
            {{ field.errors }}
            {{ field.label_tag }}</label>
            {% for name in form.fields.certificate.initial %}
                <input type="text" name="certificate" value="{{ name }}"><br>
            {% endfor %}
        </div>
        <button type="button" id="less_more">-</button>
        <button type="button" id="add_more">+</button><br>
        {% elif field.label == "Khoa chuyên môn (giữ phím ctrl để chọn nhiều hơn một)"%}
        <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}</label>
            <select name="specialize" required="" id="id_specialize" multiple="">
                {% for facility_id, name in form.fields.specialize.choices %}
                    <option value="{{ facility_id }}" {% if facility_id in form.fields.specialize.initial %}selected {% endif %}>{{ name }}</option>
                {% endfor %}            
            </select>
        </div><br>
        {% else %}
        <div class="form-group">
            {{field.errors}}
            {{field.label_tag}}
            {{field}}
        </div><br>        
        {% endif %}
    {% endfor %}


    <button type="submit">Lưu</button>
    <button><a href="{% url 'manage_all_staff' %}" style="text-decoration: none; color: inherit;">Trở về</a></button>
</form>

{% block custom_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var formFields = document.getElementById('form_certificates');
        var addButton = document.getElementById('add_more');
        var subButton = document.getElementById('less_more');

    
        addButton.addEventListener('click', function() {
            var newField = document.createElement('div');
            newField.innerHTML = `
                <input type="text" name="certificate" >
            `;
            formFields.appendChild(newField);
        });

        subButton.addEventListener('click', function() {
            var allField = document.querySelectorAll('input[name="certificate"]');
            var last = allField[allField.length-1];
            var br = last.previousElementSibling;
            last.remove();
            br.remove();
        });

        const email = document.getElementById('id_email'); 
        const initialEmail = email.value;
        email.addEventListener('keyup', function() {
            var e = email.value;
    
            if(e !== '' && e !== initialEmail){
                fetch('/check_email_exist', {
                    method: "POST",
                    headers: {
                    "Content-Type": "application/json",
                    },
                    body: JSON.stringify({email: e}),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if(data == "False"){
                        var span = document.getElementById('email-exist');
                        if(span !== null){span.remove();}
                        email.insertAdjacentHTML('afterend', "<span id='email-exist'> Email chưa được sử dụng. </span>");
                    }else{
                        var span = document.getElementById('email-exist');
                        if(span !== null){span.remove();}
                        email.insertAdjacentHTML('afterend', "<span id='email-exist'> Email đã tồn tại! </span>");                    
                    }
                })
                .catch(error => console.error('Error:', error));
            }else{
                var span = document.getElementById('email-exist');
                if(span !== null){span.remove();}                
            }
    
        });
    });

</script>
{% endblock custom_js %}


{% if messages %}
    {% for message in messages %}
        {% if message.tags == "error" or message.tags == "success" %}
            <p> {{ message }}</p>
        {% endif %}

    {% endfor %}
{% endif %}
