<h1>This is admin homepage</h1>

<nav>
    <ul>
        <li>
            <a href="/add_staff">
                <p>Add staff</p>
            </a>
        </li>
        <li>
            <a href="/manage_staff">
                <p>Manage staff</p>
            </a>
        </li>
        <li>
            <a href="/add_patient">
                <p>Add patient</p>
            </a>
        </li>
        <li>
            <a href="/manage_patient">
                <p>Manage patient</p>
            </a>
        </li>
        <li>
            <a href="/add_medicine">
                <p>Add medicine</p>
            </a>
        </li>
        <li>
            <a href="/manage_medicine">
                <p>Manage medicine</p>
            </a>
        </li>
        <li>
            <a href="/add_medical_equipment">
                <p>Add medical equipment</p>
            </a>
        </li>
        <li>
            <a href="/manage_equip">
                <p>Manage medical equipment</p>
            </a>
        </li>
        <li>
            <a href="/works">
                <p>Work schedules</p>
            </a>
        </li>
        <li>
            <a href="/staff_feedback">
                <p>Staff feedbacks</p>
            </a>
        </li>
        <li>
            <a href="/patient_feedback">
                <p>Patient feedbacks</p>
            </a>
        </li>
    </ul>
</nav>